.all-freelancer {
    margin: 30px 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #8585858f;
    padding: 50px;
}

.all-freelancer h2 {
    color: #162F81;
}

.freelancers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.freelancer {
    display: flex;
    width: 42%;
    padding: 0px 30px;
    margin: 2% 1%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #9f9f9f4a;
}

.freelancer .profile-pic {
    height: 40px;
    width: 40px;
    border: 5px solid white;
    border-radius: 50%;
    /* margin: 0px 12px 0px -15px; */
    background-size: contain;
}

.freelancer p.name {
    margin-left: -30%;
    font-size: 25px;
    width: inherit;
}

.freelancer .freelancer-option-btn .option-content {
    /* display: none; */
    padding: 8px 10px;
    position: absolute;
    margin-left: 20px;
    /* margin-top: 60px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 69px rgb(0 0 0 / 9%);
    border-radius: 0px 10px 10px 10px;
    transition: .2s ease;
}

.freelancer .freelancer-option {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 50%;
    transition: .2s ease;
}

.freelancer .freelancer-option:hover{
    background-color: #80808059;
}
.freelancer-option-btn .option-content p{
    border-radius: 5px;
    padding: 0px 5px;
    cursor: pointer;
}
.freelancer-option-btn .option-content p:hover{
    background-color: #a1a1a15e;
}


.reported-all-freelancers {
    margin: 30px 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #8585858f;
    padding: 50px;
    background: #575CE5;
    border-radius: 16px;
    color: white;
}