.artist-reg {
    background: url(../images/aristreg\ pic.png), rgba(87, 92, 229, 0.04);
    height: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70vw;
}

.filter {
    height: auto;
    width: 70vw;
    backdrop-filter: blur(20px);
}

.artistreg-content {
    display: flex;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
}

.artistreg-content .artistreg-intro {
    height: 50vh;
    width: 20vw;
    margin-left: 7.323vw;
    color: white;
    margin-top: -30vh;
}

.artistreg-content .artistreg-intro h1 {
    color: white;
    font-size: 3em;
    line-height: 50px;
}

.artistreg-content .artistreg-intro p {
    font-size: 20px;
}

.artist-reg-form {
    background-color: white;
    height: auto;
    min-height: 80vh;
    width: 35vw;
    padding: 20px 0px;
    border-radius: 5px;
    margin-left: 25vw;
    box-shadow: 0px 4px 84px rgb(0 0 0 / 14%);
    backdrop-filter: blur(110px);
    display: flex;
    justify-content: center;
}

.artist-reg-form .form-input-filed {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.artist-reg-form .form-fields {
    min-height: 85vh;
    width: inherit;
}

.artist-reg-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.artist-reg-form form input{
    padding: 4px 8px;
    margin: 20px 0px;
    width: 95.5%;
    height: 40px;
    background: #F4F4F4;
    border-radius: 8px;
    font-size: 1em;
}
.artist-reg-form form textarea{
    padding: 4px 8px;
    margin: 20px 0px;
    width: 95.5%;
    height: 120px;
    background: #F4F4F4;
    border-radius: 8px;
    font-size: 1em;
}
.artist-reg-form form .sub-btn{
    margin: 0px auto;
    /* width: 27.901vw; */
    width: 80%;
}
.artist-reg-form form button {
    width: 100%;
    margin: 10px 0px 0px 0px;
    height: 50px;
    background: #575CE5;
    border-radius: 8px;
    color: white;
}



.img-p{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.form-input-filed .input-img-div{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed blue;
    border-radius: 10px;
    width: 190px;
}
.form-input-filed .input-pic-div{
    border: 0px;
    box-shadow: 0px 0px 4px 1px #a8a8a8b5;
}