/* Main intro section */
.main-page-one {
    height: 100vh;
    width: 100vw;
    background: url(../images/main-bg.png), linear-gradient(90deg, #e3e6ec 0%, #dce7fd 48.44%, #dce7fd 100%);
    /* background-image: url(../images/main-bg.png); */
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px;
}

.nav-bar button {
    margin: 0px 2vw 0px 0px;
    font-size: medium;
    background-image: linear-gradient(45deg, #1419a1, #575ce5);
    height: 40px;
    min-width: 100px;
    width: auto;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    transition: transfrom .5s;
}

.nav-bar button:hover {
    transform: scale(.98);
}

.logout-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown {
    margin: 0px 30px 0px 0px;
    font-size: medium;
    background-image: linear-gradient(45deg, #1419a1, #575ce5);
    height: 30px;
    /* min-width: 80px; */
    width: 10px;
    display: flex;
    padding: 5px 20px;
    border-radius: 30px;
    /* color: white; */
    transition: transform 1s;
    align-items: center;
}

.logout-btn:hover .dropdown-content {
    display: flex;
}

.dropdown-content {
    position: absolute;
    display: none;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 46px;
    z-index: 1;
}

.dropdown-content p {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: -5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content p:hover {
    background-color: rgb(211, 211, 211);
}

.intro-header {
    margin: 0vh 4.557vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro-header span {
    color: #575CE5;
}

.btns-introsection {
    display: flex;
    width: 23.997vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btns-introsection button {
    background-color: #575CE5;
    padding: 15px 20px;
    width: 160px;
    border-radius: 30px;
    color: white;
    transition: transform .5s;
}

.btns-introsection button:hover {
    transform: scale(.98);
    box-shadow: 0px 2px 11px 0px #787878b5;
}

.pic-main-intro .picture {
    background-image: url(../images/model\ intro\ page.png);
    width: 489.94px;
    height: 691px;
    transform: scale(.9225);
}

/* why us page  */

.why-us-page {
    height: 100vh;
    width: 100vw;
}

.div-container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.content-why-us {
    padding: 100px;
}

.content-why-us ul {
    margin-left: 18px;
    list-style-image: url(../images/list-style.png);
}

.content-why-us .data {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.content-why-us .data .artists h3 {
    color: #FF1D03;
}

.content-why-us .data .project h3 {
    color: #2EC4B6;
}

.content-why-us button {
    background: #575CE5;
    box-shadow: 0px 4px 12px rgb(46 196 182 / 48%);
    border-radius: 10px;
    padding: 15px 40px;
    color: white;
    font-size: 20px;
    transition: color .5s;
}

.content-why-us button:hover {
    color: #2EC4B6;
}

.box-why-us {
    flex: 70%;
    display: flex;
    justify-content: space-evenly;
}

.box-why-us .box-img-odd {
    background-image: url(../images/boximg1.png);
    height: 100px;
    width: 100px;
    margin: 20px 0px;
}

.box-why-us .box-img {
    background-image: url(../images/boximg3.png);
    height: 100px;
    width: 100px;
    margin: 20px 0px;
}

.box-why-us .box-sec-one {
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-why-us .box {
    height: 250px;
    width: 190px;
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.06);
    border: 1px solid;
    padding: 20px;

    border-left-color: #E71D36;
    border-right-color: #E71D36;
    border-bottom-color: #e71d368c;
}

.box-why-us .box-even {
    background: #F7FFFE;
}

.box-why-us .box p {
    margin-top: 5px;
}

.box-why-us .box-sec-two {
    margin-bottom: -90px;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-why-us .view-btn {
    color: #FF1D03;
}

/* Footer */

.footer {
    background-color: #000F40;
    width: 100vw;
    height: auto;
    /* padding: 20px; */
}

.footer-content {
    color: white;
    padding: 40px 90px;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.footer-about {
    /* flex: 30%; */
    width: 600px;
}

.footer-content h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    color: white;
}

.footer-about p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: -0.045em;

    color: #9EA4B6;
}

.footer-about .contact-icons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-about .contact-icons .ico {

    margin-right: 20px;
}



.footer-content li {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.453em;
    line-height: 116%;
    list-style: none;
    line-height: 50px;
    letter-spacing: -0.06em;
}

.footer-content a {
    text-decoration: none;
    color: white;
}