.nav {
    height: 80px;
    width: 94%;
    display: flex;
    padding: 20px 50px;
    justify-content: flex-end;
    /* box-shadow: 0px 2px 20px 0px #acacac; */
}

.nav img {
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgb(0 140 186 / 50%);
    height: 50px;
    width: 50px;
}

.page {
    padding: 30px;
    margin-top: 150px;
    margin-left: 50px;
}

h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;

    color: #313C61;
}

.p p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;

    color: #313C61;
}

.search {
    width: 860px;
    height: 80px;
    margin-top: 50px;
    margin-left: 30px;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 59px;
    display: flex;
    justify-content: space-around;
}

::-webkit-input-placeholder {
    font-family: 'DM Sans';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 17px;
    /* line-height: 34px; */
    color: rgba(131, 144, 187, 0.46);
    /* padding: 10px; */
}

.search input {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}

.search select {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    /* identical to box height */
    text-align: left;

    color: #8390BB;
}

.search button {
    background-color: white;
}


.firstpic {
    position: absolute;
    width: 14.25vw;
    height: 12vw;
    right: 0px;
    top: 5vh;

    background: url(../images/image\ 6.png);
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 133.249px;
}

.secpic {
    position: absolute;
    width: 18.25vw;
    height: 32vw;
    right: 210px;
    top: 35vh;

    background: url(../images/close-up-young-successful-man-smiling-camera-standing-casual-outfit-against-blue-background\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 133.249px;
}

.thirdpic {
    position: absolute;
    width: 10vw;
    height: 11vw;
    right: 510px;
    top: 75vh;

    background: url(../images/image\ 4.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 145px;
}

.artists-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 50px; */
    margin: 0px 3vw;
}

.artists-infos .artist-row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    /* height: 400px; */
    margin: 0px 0px;
    flex-wrap: wrap;
}

.artists-infos .artist-row .artist {
    width: 270px;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 14px 1px #d7d7d7e0;
}

.artists-infos .artist-row .artist .artist-bg-img {
    height: 200px;
    width: 100%;
    background-size: contain;
    border-radius: 10px;
}

.artists-infos .artist-row .artist .artist-avathar {
    width: 40%;
    background-size: contain;
    border-radius: 50%;
    border: 3px solid white;
}

.artists-infos .artist-row .artist .imgs {
    /* background-image: url(/static/media/demobg1.cc5791e0.jpg); */
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artists-infos .artist-row .artist .artist-info-content {
    margin: 30px 0px;
    color: #8390BB;
    height: 35%;
    line-height: 30px;

}
.artists-infos .artist-row .artist .artist-info-content p{
    font-size: 15px;
}