.user-profile-contents {
    padding: 0px 0px;
    margin: 30px 50px;
    box-shadow: 0px 0px 7px 0px #9a9a9a80;
    border-radius: 10px;
    color: #8390BB;
}

.user-profile-contents .user-profile-banner {
    height: 300px;
    width: 100%;
}

.user-profile-banner p.banner {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-color: aquamarine; */
    background-image: url(../images/user-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.user-profile-banner p.banner button {
    position: absolute;
    right: 80px;
    top: 190px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.38);
    backdrop-filter: blur(54px);
    border-radius: 8px;
    color: white;
}


.profile-about-flex {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 50px;
}

/* .profile-about-flex .profile-div {
    padding: 0px 50px;
} */

.profile-about-flex .profile-div .profile-pic {
    height: 100px;
    width: 100px;
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 8px solid white;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    /* border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #0040ff;
    border-radius: 5px;
    box-shadow: 2px 3px 11px -4px #1b1b1bc2; */
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-name-p {
    margin-top: 10px;
    color: blue;
    margin-left: 2px;
}

.image-input {
    /* margin-left: -16px; */
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #0000004f;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

.profile-about-flex .profile-div .profile-pic:hover .image-input {
    display: flex;
}

.user-contact {
    margin-top: 20px;
    display: flex;
    color: white;
    justify-content: space-between;
    width: 160px;
    flex-wrap: wrap;

}

.user-contact a {
    text-decoration: none;
    color: white;

}

.user-contact .contact-ph {
    background-color: #5F6C97;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 80px;
    padding: 3px 10px;
    border-radius: 30px;
}

.user-contact .contact-whatsapp,
.user-contact .contact-email {
    background-color: #5F6C97;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 3px 3px;
    border-radius: 30px;
}

.about-div {
    width: 50%;
}

.about-div .speciality {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-div .speciality p {
    padding: 20px;
    background: rgba(95, 108, 151, 0.08);
    border-radius: 8px;
    margin: 3px 3px;
    width: 170px;
}

.user-work {
    padding: 0px 50px;
}

.user-work .work-contents {
    height: 500px;
    padding-bottom: 40px;
    display: flex;
}

.user-work .work-contents .big-pic-work {
    height: 100%;
    width: 50%;
    border-radius: 12px;
    background-image: url(../images/work-big.png);
}

.user-work .work-contents .small-work-pics {
    height: 100%;
    width: 50%;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.user-work .work-contents .small-work-pics .pics {
    background-image: url(../images/work-small.png);
    height: 48%;
    width: 48%;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
}